<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="undefined" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/app.css' %}" integrity="undefined" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/burger_menu.css' %}" integrity="undefined" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    {% block header %}
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <img class="logo" src="{% static 'img/logo.png' %}" width="40" height="32" alt="">
        <div class="container-fluid text-center" style="display: flex; flex-direction: row-reverse;">
          <a class="navbar-brand" href="#">

          </a>
      
          <div class="d-flex flex-row-reverse">
            <!-- Переносим ссылку перед кнопкой -->
            <div type="button" class=" burg-btn-close " id = 'burg-btn-close' style="display: none;">
                <a id="burg-btn-close" class="nav-link px-2 link-secondary" >x</a>
            </div>
            <button class="navbar-toggler d-block" id = 'burger-btn' type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
              <span class="navbar-toggler-icon"></span>
            </button>
          </div>
          
      
          <!-- центрирование ссылки -->
          <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link px-2 link-secondary" aria-current="page" href="/test_app_22/home/">Главная</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      
      
      <a id="burg-btn" class="lines"></a>
      <div class="burger-menu" id="burger-menu" style="display: none;">
        <div class="conteiner-burg">
          <div><a href="">Sign up</a></div>
          <div><a href=""></a>Log in</div>
        </div>
      </div>

    <script src="{% static 'js/app.js' %}"></script>
    
    {% endblock header %}

    {% block content %}
    {% endblock content %}
</body>
</html>